@page "{gcc}/{month:int}/{day:int}"
@model DetailModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Score breakdown for @Model.Gcc | @Model.FormattedDay</h2>

<table class="table">
<thead>
  <tr>
  <th>Details</th>
  </tr>
</thead>
<tbody>
    
       @foreach(var x in @Model.Details)
         {<tr><td>@x</td></tr>}
    
      
    
</tbody>

</table>

<a asp-page="/GccView" asp-route-gcc="@Model.Gcc" asp-route-month="@Model.Month">Back</a>
