@page "{gcc}/{year:int}/{month:int}"
@model GccViewModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Results for @Model.Gcc.Gcc (@Model.Gcc.Name) in @Model.MonthName</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nr</th>
            @foreach(var x in @Model.oh.DayNumbers)
         {<th>@x</th>}
        
        </tr>
    </thead>
<tbody>
    <tr>
        <td>Day</td>
       @foreach(var x in @Model.oh.DayNames)
         {<td>@x</td>}
    </tr>
    <tr>
        <td>Score</td>
        @{ int i = 0; }    
        @foreach(var x in @Model.oh.DayScore)
         {
              i++;
            <td><a asp-page="/Details" asp-route-gcc="@Model.Gcc.Gcc" asp-route-year="@Model.Year" asp-route-month="@Model.Month" asp-route-day="@i">@x</a></td>
        }
        
    </tr>
    <tr>
        <td>Percentage</td>
        
        @foreach(var x in @Model.oh.DayPercentage)
         {
            <td class="@Model.ScoreColor(@x)">@x</td>
         }
    </tr>
</tbody>

</table>
<p>
<a asp-page="/PaygroupDetails" asp-route-gcc="@Model.Gcc.Gcc" asp-route-year="@Model.Year" asp-route-month="@Model.Month">View payroll calendar</a>
</p>
<h3>Scoring</h3>
<table class="table small"> 
    <thead>
        <tr><th>Criteria</th><th>Score</th></tr>
    </thead>
    <tbody>
       @foreach(var x in Model.keyValuePairs) {
        <tr><td>@x.Key</td><td>@x.Value</td></tr>

       }
    </tbody>
</table>



<a asp-page="/Index">Back to overview</a>