@page "{gcc}/{month:int}"
@model GccViewModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Results for @Model.Gcc (@Model.MonthName)</h2>

<table class="table">
    <thead>
        <tr><th>Nr</th>
            @foreach(var x in @Model.oh.DayNumbers)
         {<th>@x</th>}
        
        </tr>
    </thead>
<tbody>
    <tr><td>Day</td>
       @foreach(var x in @Model.oh.DayNames)
         {<td>@x</td>}
    </tr>
        <tr><td>Score</td>
        @{ int i = 0; }    
        @foreach(var x in @Model.oh.DayScore)
         {
              i++;
            <td><a asp-page="/Details" asp-route-gcc="@Model.Gcc" asp-route-month="@Model.Month" asp-route-day="@i">@x</a></td>}</td>
    </tr>
         <tr><td>Percentage</td>
        
        @foreach(var x in @Model.oh.DayPercentage)
         {
            <td class="@Model.ScoreColor(@x)">@x</td>
            
            
         }
    </tr>
</tbody>

</table>
<p>
<a asp-page="/PaygroupDetails" asp-route-gcc="@Model.Gcc" asp-route-month="@Model.Month">Payroll calendar</a>
</p>
<table class="table"> 
    <thead>
        <tr><th>Criteria</th><th>Penalty</th></tr>
    </thead>
    <tbody>
        <tr><td>Weekend</td><td>-@Model.sc.Weekend</td></tr>
        <tr><td>Cut-off</td><td>-@Model.sc.CutOff</td></tr>
        <tr><td>Pay date</td><td>-@Model.sc.PayDate</td></tr>
        <tr><td>Pay date +1</td><td>-@Model.sc.NextPayDate</td></tr>
        <tr><td>Free slot before cut-off</td><td>@Model.sc.Free</td></tr>
        <tr><td>Free slot after cut-off</td><td>@Model.sc.FreeAfterClose</td></tr>
    </tbody>
</table>


<a asp-page="/Index">Back to overview</a>