@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>GCC overview</h2>



<table class="table">
<thead>
    <tr>
    <th>
        Gcc</th><th>Name</th>
        @foreach(var y in @Model.MonthNames) {
             <th>@y</th>
        }
    
    </tr>
</thead>
<tbody>
        @foreach(var x in @Model.Gccs)
         {
             <tr>
            <td>@x.Key</td><td>@x.Value</td>
            @foreach(var y in @Model.MonthNrs) {
            <td>
                <a asp-page="/GccView" asp-route-gcc="@x.Key" asp-route-month="@y">Calendar</a>
            </td>
            }
            </tr>
        }

      
</tbody>

</table>
