@page "{gcc}/{month:int}"
@model PayGroupDetails
@{
    ViewData["Title"] = "Home page";
}

<h2>Payroll calendar for @Model.Gcc (@Model.FormattedMonth)</h2>

<table class="table">
<thead>
   <tr>
      <th>Lcc</th>
      <th>Pay group</th>
      @foreach(var y in @Model.Cal) {
            <th>@y.Key</th>
         }
   </tr>
</thead>
<tbody>
      
       
       @foreach(var x in @Model.Results)
         {
            <tr>
               <td>@x.Lcc</td>
               <td>@x.PayGroup</td>
         @foreach(var y in @Model.Cal) {
            <td class="@Model.FormatCell(@y.Key,@x)">&nbsp;</td>
         }
         </tr>
         }
    
      
</tbody>

</table>

<a asp-page="/GccView" asp-route-gcc="@Model.Gcc" asp-route-month="@Model.Month">Back to overview</a>