@page "{gcc}/{year:int}/{month:int}"
@model PayGroupDetails
@{
    ViewData["Title"] = "Home page";
}

<h2>Payroll calendar for @Model.Gcc.Gcc (@Model.Gcc.Name) in @Model.FormattedMonth</h2>

<table class="table">
<thead>
   <tr>
      <th>LCC</th>
      <th>Pay<br/>group</th>
       <th>Freq</th>
      @foreach(var y in @Model.Cal) {
            <th>@y.Key</th>
         }
   </tr>

</thead>
<tbody>
    <tr><td colspan="3">&nbsp;</td>
    @foreach(var y in @Model.Cal) {
            @if(y.Value.Name == "Sat" || y.Value.Name == "Sun") {
            <td class="red">@y.Value.Name</td>
            } else {
            <td>@y.Value.Name</td>
            }
         }
   
   </tr>


         @foreach(var x in @Model.pgd)
         {
            <tr>
               <td>@x.Lcc</td>
               <td>@x.PayGroup</td>
               <td>@x.Frequency</td>
         @foreach(var z in x.calDays) {
            <td class="@z.Value.Color">&nbsp;
               @if(z.Value.Color == "Open" || z.Value.Color == "Closed" || z.Value.Color == "Blackout" || z.Value.Color == "CutOff") {
                  <text>&nbsp;</text>
               } else {
               @z.Value.Color
               }
               </td>
         }
         </tr>
         }
   
</tbody>

</table>

<a asp-page="/GccView" asp-route-gcc="@Model.Gcc.Gcc" asp-route-year="@Model.Year" asp-route-month="@Model.Month">Back to overview</a>